[Unit]
Description=Pi-Star DMR2NXDN Service
After=syslog.target network.target mmdvmhost.timer

[Service]
Type=forking
ExecStart=/usr/local/sbin/dmr2nxdn.service start
ExecStop=/usr/local/sbin/dmr2nxdn.service stop
ExecReload=/usr/local/sbin/dmr2nxdn.service restart

[Install]
WantedBy=multi-user.target
