[Unit]
Description=Restore MMDVM log files at startup
#after=default.target
Before=mmdvmhost.service
 
[Service]
Type=simple
ExecCondition=/bin/sh -c 'test -x /usr/local/sbin/pistar-mmdvm-log-restores'
ExecStart=/usr/local/sbin/pistar-mmdvm-log-restores -r
TimeoutStartSec=0
 
[Install]
WantedBy=default.target
 
